*
 {
        margin: 0;
        padding: 0;

 }

.text{

    color:whitesmoke;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:25px ;
    font-weight: bolder;
    scrollbar-face-color: gray;
    border: solid;
}

 header
 {
     background-color:black;
     height: 150px;
     position: fixed;
     height: 130px;
     
     background-size: cover;
     background-position:center;
 } 
header{
  position:sticky;

    }

 
   .main-nav
   {
     display: flex;
    float: right;
    list-style: none ;
    margin-top: 30px;
    float: right;
       
    list-style: none;
    margin-top: 20px;
    

   }

  
   .main-nav li 
   
{
    
    background-color : black ;
    display: inline-block;

}
 .main-nav  :hover{
     background-color : #4a5568;
 }

.main-nav 
 {
   display: inline;  

     
 }
.main-nav 
 {
   display: inline-block;  
 }

.main-nav li a
{
   color : white ;
   text-decoration: none;
   padding: 3px 12px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Open Sans', 'Helvetica Neue', sans-serif Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size :1gpx;
   display: inline;
   display: inline-block;
   

} 
 
.main-nav li.active a
{
    border : 1px solid white;
    display: inline;
    display: inline-block;
}

.main-nav li a :hover
{
    border: 1px solid white;
}
.g
{
  text-decoration-color:brown;
  text-align: center;
  font-style: inherit;
  font-size:large
  
}

.h2
{

 text-align: center;
 font-size: 40px;
 font-style: normal;
 font-weight: unset;
 font-family: cursive;
 background-color: whitesmoke;
 max-height: inherit;

}
.pp

{
   text-align: center ;
  font-size: large;
  font-display:none ;
  float: inline-start;
  
  font-family: revert;
}
.container {
  position: relative;
  max-width: 1700px; 
  margin: 0 auto; 
}
.container .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%; 
  padding: 70px; 
  font-size: xx-large;
  font-family: cursive,Arial, Helvetica, sans-serif;
}

.newspaper
{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: whitesmoke;
  font-size: large;
}
.newspaper
{
  column-count: 3;
}

footer{
  position: sticky;
	width: 100%;
	background-color:black;
  color: white;
  
  font-size: small;
  font-display:none ;
  float: inline-start;
}
.container {
  position: relative;
  max-width: 1755px; 
  margin: 0 auto; 
  align-self: left;
}

.container .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%; 
  padding: 20px;
}


.ppp
{
  font-family: cursive;
  text-align: center;
  background-color: whitesmoke;
}

iframe
{
  
  align-self: center;
}

.slides :hover{
 background-color: lightgrey;
}
.b{
  background-color: whitesmoke;
  text-align: center;
  

}
.Fora{
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: x-large;
  
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  height: 445px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.footer-links.inline
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
@media screen and (max-width: 1000px) {
  .main-nav a {
    float: none;
    width: 100%;
  }
}
.container {
  align-self: center;
}